body{
    font-family: Verdana;
    font-size: 1em;
    text-align: center;
}

#myButton{
    background-color: rgb(1, 1, 20);
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 2em;
}