body{
    background-image: url('dice_rolling.gif');
    background-size: cover;
    background-repeat: repeat;
    font-family: Verdana;
    font-size: 1em;
    text-align: center;
    color: white;
}

#myButton{
    background-color: rgb(20, 1, 1);
    color: rgb(235, 16, 16);
    text-align: center;
    cursor: pointer;
    font-size: 2em;
}